body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: linear-gradient(to left, rgb(255, 166, 0) 0%, rgb(255, 97, 6) 100%); /* w3c */
}
p{
  text-align:center;
}
input {
  font-size: 1.3rem;
  width: 90%;
}
.card-grid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.card {
  align-content: center;
  border: 1px solid grey;
  border-radius: 6px;
  margin-bottom: 10px;
  margin-right: 10px;
  overflow: hidden;
}
.card p {
  padding: 5px;
  text-align: center;
}

.card img {
  align-content: center;
  max-height: 170px;
}
h2{
  font-size: 40px;
  text-align: center;
  transform: skewY(-2deg);
  letter-spacing: 4px;
  word-spacing: -8px;
  color: rgb(71, 255, 86);
  text-shadow: 
    -1px -1px 0 firebrick,
    -2px -2px 0 firebrick,
    -3px -3px 0 firebrick,
    -4px -4px 0 firebrick,
    -5px -5px 0 firebrick,
    -6px -6px 0 firebrick,
    -7px -7px 0 firebrick,
    -8px -8px 0 firebrick,
    -30px 20px 40px dimgrey;
    
}